.content .a {
  margin: auto;
  margin-bottom: 20px;
  width: fit-content;
  background-color: burlywood;
  box-shadow: 0px 1px 5px 1px black; 
  padding: 10px;
  text-align: center;
}
.content .a table tr td {
  padding: 10px;
}
.white {
  background-color: white;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}
.content .b {
  margin: auto;
  margin-bottom: 20px;
  width: fit-content;
  background-color: burlywood;
  box-shadow: 0px 1px 5px 1px black; 
  padding: 10px;
}
.content .c {
  margin: auto;
  margin-bottom: 20px;
  width: fit-content;
  background-color: burlywood;
  box-shadow: 0px 1px 5px 1px black; 
  padding: 10px;
  text-align: center;
}
.content .c table caption {
  font-weight: bolder;
  color: blueviolet;
}
.language {
  background-color: violet;
}
.content .c table tr td {
  background-color: pink;
  color: blue;
}
.number {
  background-color: lightskyblue;
}