body {
  padding: 0;
  margin: auto;
  font-family: monospace;
}
.heading {
  margin: 8px;
  height: auto;
  text-align: center;
  font-size: 50px;
  background-color: lightgreen;
  border: 2px solid green;
  border-radius: 25px;
}
#bai2 .content {
  padding: 5px;
  margin: 10px;
  font-weight: bolder;
  background-color: bisque;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
.title {
  font-weight: bolder;
}
#bai3 .content .p1 {
  padding: 5px;
  margin: 10px;
  box-shadow: 0px 1px 5px 1px black;
}
#bai3 .content .p2 {
  padding: 5px;
  margin: 10px;
  background-color: sandybrown;
  box-shadow: 1px 1px 5px 1px black;
}
#bai3 .content .p2 .p2a {
  text-align: left;
}
#bai3 .content .p2 .p2b {
  text-align: center;
}
#bai3 .content .p2 .p2c {
  text-align: right;
}
#bai4 .content .l1{
  margin: auto;
  width: fit-content;
  box-shadow: 0px 1px 5px 1px black;
}
#bai4 .content .l2{
  margin: auto;
  width: fit-content;
  background-color: coral;
  box-shadow: 0px 1px 5px 1px black;
}
#bai5 .content .a {
  margin: auto;
  width: fit-content;
  box-shadow: 0px 1px 5px 1px black;
}
#bai5 .content .a header {
  font-size: 20px;
  font-weight: bolder;
  margin: 20px;
}
#bai5 .content .a nav ul {
  margin: 20px;
  padding: 0px;
}
#bai5 .content .a nav ul li {
  display: inline;
}
#bai5 .content .a article section {
  margin: 20px;
  margin-bottom: 60px;
}
#bai5 .content .a article section header {
  margin: 0px;
}
#bai5 .content .a footer {
  margin-left: 20px;
}

#bai5 .content .b {
  margin: auto;
  width: fit-content;
  box-shadow: 0px 1px 5px 1px black;
}
#bai5 .content .b header {
  font-size: 20px;
  font-weight: bolder;
  margin: 20px;
}
#bai5 .content .b nav p {
  margin: 20px;
}
#bai5 .content .b nav ul {
  margin: 20px;
}
#bai5 .content .b article section {
  margin: 20px;
}
#bai5 .content .b article section header {
  margin: 0px;
}
#bai6 .content .a {
  margin: auto;
  margin-bottom: 20px;
  width: fit-content;
  background-color: burlywood;
  box-shadow: 0px 1px 5px 1px black; 
  padding: 10px;
  text-align: center;
}
#bai6 .content .a table tr td {
  padding: 10px;
}
.white {
  background-color: white;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}
#bai6 .content .b {
  margin: auto;
  margin-bottom: 20px;
  width: fit-content;
  background-color: burlywood;
  box-shadow: 0px 1px 5px 1px black; 
  padding: 10px;
}
#bai6 .content .c {
  margin: auto;
  margin-bottom: 20px;
  width: fit-content;
  background-color: burlywood;
  box-shadow: 0px 1px 5px 1px black; 
  padding: 10px;
  text-align: center;
}
#bai6 .content .c table caption {
  font-weight: bolder;
  color: blueviolet;
}
.language {
  background-color: violet;
}
#bai6 .content .c table tr td {
  background-color: pink;
  color: blue;
}
.number {
  background-color: lightskyblue;
}
#bai7 .content {
  margin: auto;
  width: fit-content;
  box-shadow: 0px 1px 5px 1px black; 
}